.App {
text-align: center;
background-color: rgb(167, 198, 198);
}


.button-mas {
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: rgb(127, 127, 126);
  border-radius: 5px;
  color: aliceblue;
}

.button-mas:hover {
  background-color: rgb(38, 185, 109);
}

.button-menos {
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: rgb(127, 127, 126);
  border-radius: 5px;
  color: aliceblue;
}
.button-menos:hover {
  background-color: rgb(94, 97, 96);
}
.btn-carrito{
  margin: 5px;
  padding: 10px;
  border-style: solid 5px;
  border-radius: 10px;
  color: aliceblue;
  background-color: rgb(106, 163, 224);
}

.btn-carrito:hover{
  background-color: rgb(9, 75, 146);
}



/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  }
} */
